<h1>Confirm Your Donation</h1>

<table class="table">
  <tr>
    <th>Need</th>
    <th>Description</th>
    <th>Value</th>
    <th>Quantity</th>
    <th>Subtotal</th>
  </tr>

  <% @needs.each_with_index do |need, index| %>
    <tr>
      <td><%= need.name %></td>
      <td><%= need.description %></td>
      <td><%= currency(need.price) %></td>
      <td><%= session[:cart].values[index] %></td>
      <td><%= currency(need.price * session[:cart].values[index])%></td>
    </tr>
  <% end %>
</table>

<h2>Total: <%= number_to_currency @cart.total_price %> </h2>

<%= link_to "Back To Your Cart", cart_index_path, class: "btn btn-info" %>

<%= link_to "Confirm Donation", donations_path, method: :post, class: "btn btn-success" %>
