<div class="container">
  <%= link_to "Back to Admin Dashboard", admin_dashboard_path, class: "btn btn-primary admin-dashboard" %>
  <%= link_to "Back to Charity Dashboard", admin_charity_dashboard_path(@charity.slug), class: "btn btn-default charity-dashboard" %>
  <div class="text-center">
    <h1>Needs</h1>
  </div>
  <div class="text-center">
    <%= link_to "Add Need", new_admin_charity_need_path(@charity.slug), class: "btn btn-info add-need" %>
  </div>
<div class="col-md-8 col-md-offset-2">

<% if @needs.active %>
  <h4>Active Needs</h4>
  <table class = "table table-sm">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  <% @needs.active.each do |need| %>
    <tr class="<%=need.name%>">
      <td><%= need.name %> </td>
      <td> <%= link_to "View Details", admin_charity_need_path(@charity.slug, need), class: "btn btn-primary btn-sm view-details" %> </td>
      <td> <%= link_to "Update", edit_admin_charity_need_path(@charity.slug, need), class: "btn btn-success btn-sm update-need" %> </td>
      <td><%= deactivate_need_link(need) %><% if current_user.platform_admin? %>
        <%= suspend_need_link(need) %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </table>
<% end %>
</div>


<% if @needs.inactive %>
<h4>Inactive Needs</h4>
<table class="table table-sm">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @needs.inactive.each do |need| %>
  <tr class="<%=need.name%>">
    <td><%= need.name %> </td>
    <td> <%= link_to "View Details", admin_charity_need_path(@charity.slug, need), class: "btn btn-primary btn-sm view-details" %> </td>
    <td> <%= link_to "Update", edit_admin_charity_need_path(@charity.slug, need), class: "btn btn-success btn-sm update-need" %> </td>
    <td><%= activate_need_link(need) %><% if current_user.platform_admin? %>
      <%= suspend_need_link(need) %>
    <% end %>
    </td>
  </tr>
<% end %>
</table>
<% end %>


<h4>Suspended Needs</h4>
<% if @needs.suspended %>
  <table class= "table table-sm">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @needs.suspended.each do |need| %>
    <tr class="<%=need.name%>">
      <td><%= need.name %> </td>
      <td> <%= link_to "View Details", admin_charity_need_path(@charity.slug, need), class: "btn btn-primary view-details" %> </td>
      <td> <%= link_to "Update", edit_admin_charity_need_path(@charity.slug, need), class: "btn btn-success update-need" %> </td>
      <td><% if current_user.platform_admin? %>
        <%= activate_need_link(need) %>
      <% end %>
      </td>
    </tr>
  <% end %>

  </table>
<% end %>

</div>
