<%= link_to "Add Need", new_admin_charity_need_path(@charity.slug) %>
<h1>Needs</h1>

<% if @needs.active %>
  <h4>Active Needs</h4>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @needs.active.each do |need| %>
    <tr class="<%=need.name%>">
      <td><%= need.name %> </td>
      <td> <%= link_to "View Details", admin_charity_need_path(@charity.slug, need) %> </td>
      <td> <%= link_to "Update", edit_admin_charity_need_path(@charity.slug, need) %> </td>
      <td><%= deactivate_need_link(need) %><% if current_user.platform_admin? %>
        <%= suspend_need_link(need) %>
      <% end %>
      </td>
    </tr>
  <% end %>

  </table>
<% end %>


<h4>Inactive Needs</h4>
<% if @needs.inactive %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @needs.inactive.each do |need| %>
    <tr class="<%=need.name%>">
      <td><%= need.name %> </td>
      <td> <%= link_to "View Details", admin_charity_need_path(@charity.slug, need) %> </td>
      <td> <%= link_to "Update", edit_admin_charity_need_path(@charity.slug, need) %> </td>
      <td><%= activate_need_link(need) %><% if current_user.platform_admin? %>
        <%= suspend_need_link(need) %>
      <% end %>
      </td>
    </tr>
  <% end %>

  </table>
<% end %>


<h4>Suspended Needs</h4>
<% if @needs.suspended %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @needs.suspended.each do |need| %>
    <tr class="<%=need.name%>">
      <td><%= need.name %> </td>
      <td> <%= link_to "View Details", admin_charity_need_path(@charity.slug, need) %> </td>
      <td> <%= link_to "Update", edit_admin_charity_need_path(@charity.slug, need) %> </td>
      <td><% if current_user.platform_admin? %>
        <%= activate_need_link(need) %>
      <% end %>
      </td>
    </tr>
  <% end %>

  </table>
<% end %>
