<h2>Create a New Need</h2>
<div class="panel-body">
<%= form_for [:admin, :charity, @need] do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="form-group">
    <%= f.label :needs_category %>
    <%= select(:need, :needs_category_id, @needs_category_options) %>
  </div>

  <%= f.submit %>
  <% end %>

</div>
