<div class="container">
  <%= link_to "All Needs", admin_charity_needs_path, class: "btn btn-success btn-sm" %>

<h2>Need Details:</h2>

<h2><%= @need.name %></h2>
<p>Description: <%= @need.description %></p>
<p>Price: $<%= @need.price %></p>
<p>Category: <%= @need.needs_category.name %></p>
<p>Status: <%= @need.status.name %></p>

<!--REFACTOR  -->
<% if @need.status_id == 1 %>
  <%= link_to deactivate_need_link(@need) %>
  <% if current_user.platform_admin? %>
    <%= link_to suspend_need_link(@need) %>
  <% end %>
<% elsif @need.status_id == 2 %>
  <%= link_to activate_need_link(@need) %>
  <% if current_user.platform_admin? %>
    <%= link_to suspend_need_link(@need) %>
  <% end %>
<% else %>
  <% if current_user.platform_admin? %>
    <%= link_to activate_need_link(@need) %>
  <% end %>
<% end %>


</div>
