<h2>Need Details:</h2>

<h2><%= @need.name %></h2>
<p><%= @need.description %></p>
<p><%= @need.price %></p>
<p><%= @need.needs_category.name %></p>
<p><%= @need.status.name %></p>

<!--REFACTOR  -->
<% if @need.status_id == 1 %>
  <%= link_to deactivate_need_link(@need) %>
  <% if current_user.platform_admin? %>
    <%= link_to suspend_need_link(@need) %>
  <% end %>
<% elsif @need.status_id == 2 %>
  <%= link_to activate_need_link(@need) %>
  <% if current_user.platform_admin? %>
    <%= link_to suspend_need_link(@need) %>
  <% end %>
<% else %>
  <% if current_user.platform_admin? %>
    <%= link_to activate_need_link(@need) %>
  <% end %>
<% end %>
