<div class="container">
<%= link_to "Back to Admin Dashboard", admin_dashboard_path, class: "btn btn-primary admin-dashboard" %>
<%= link_to "Back to Charity Dashboard", admin_charity_dashboard_path(@charity.slug), class: "btn btn-default charity-dashboard" %>
<div class="text-center">
  <h1>Recipients</h1>
</div>

<div class="text-center">
  <%= link_to "Add Recipient", new_admin_charity_recipient_path(@charity.slug), class: "btn btn-success" %>
</div></br></br>

<div class="row">
  <% @recipients.each do |recipient| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <img src="#" alt= >
        <h3><%= recipient.name %></h3>
        <p><%= recipient.description %></p>
        <p><%= link_to "Details", admin_charity_recipient_path(@charity.slug, recipient), class: "btn btn-primary" %>
          <%= link_to "Update", edit_admin_charity_recipient_path(@charity.slug, recipient), class: "btn btn-danger"  %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
