<div class="container">
  <%= link_to "All Recipients", admin_charity_recipients_path, class: "btn btn-primary all-recipients" %>
  <%= link_to "Back to Admin Dashboard", admin_dashboard_path, class: "btn btn-primary admin-dashboard" %>
  <%= link_to "Back to Charity Dashboard", admin_charity_dashboard_path(@charity.slug), class: "btn btn-default charity-dashboard" %></br></br>
  <div class="jumbotron">
    <div class="recipient-info">
    <h2 class="display-3">Recipient: <%= @recipient.name  %> </h2>
    <h4>Description: <%= @recipient.description %></h4></br></br></br>
    <p>
      <%= link_to "Add Need for this Recipient", new_admin_charity_recipient_need_item_path(@charity.slug, @recipient), class: "btn btn-large btn-success add-recipient" %>
    </p>
    </div>
  </div>

<div class="charity-info">
  <p><em>Charity:</em> <%= @charity.name  %> </p>
  <p><em>Charity Description:</em> <%= @charity.description %></p>
</div>
</div>

<div class="container">
<div class="need_item-info">
  <table class="table table-striped">
    <tr>
      <th>
        Recipient Needs
      </th>
      <th>
        Quantity
      </th>
      <th>
        Deadline
      </th>
    </tr>
    <% if @recipient.need_items %>
      <% @recipient.need_items.each do |need_item| %>
      <tr class="<%= need_item.name %>-row">
      <td class="<%= need_item.name %>">
        <%= need_item.name %>
      </td>
      <td class="quantity-<%= need_item.quantity %>">
        <%= need_item.quantity %>
      </td>
      <td class="deadline-<%= need_item.deadline %>">
        <%= format_date(need_item.deadline) %>
      </td>
      <td>
        <%= link_to "Edit Need", edit_admin_charity_recipient_need_item_path(@charity.slug, @recipient, need_item), class: "btn btn-primary recipient-update" %>
      </td>
    </tr>
      <% end %>
      <% end  %>
  </table>
</div>
</div>
<!--
<% if !@items.empty? %>
  <div class="col-sm-12 current-needs">

    <h4><%=@recipient.name %> needs the following donations:</h4>
    <table class="table">
      <tr>
        <th>Donation Item</th>
        <th>Cost</th>
        <th>Quantity</th>
        <th></th>
      </tr>

    <% @items.each do |item| %>
        <%= form_for item, url: cart_items_path, method: :create do |f| %>
          <div class='<%= item.name %>' >
            <tr>
              <td><%= item.name %></br>
              <em><%= item.description %></em></td>
              <td><%= currency(item.need.price) %></td>
              <td><%= f.hidden_field :id, :value => item.id %>
                <div class="form-group">
                  <%= f.select(:quantity, (1..item.quantity_remaining), { :prompt => '1'}, { class: 'form-control' }) %>
                </div>
              </td>
              <td><%= f.submit 'add to cart', class: "btn btn-primary"%></td>
            </tr>
          </div>
        <% end %>
    <% end %>
    </table>
  </div>
<% else %>
  <h4><%= @recipient.name %> has no current donation needs</h4>
<% end  %>

<div class="container">

<h4>See more recipients like <%= @recipient.name %>:</h4>

<div class="btn-group-vertical col-sm-4" role="group">
  <h5>Charity</h5>
  <%= button_to "All from #{@recipient.charity.name}",  charity_path(@recipient.charity.slug), method: :get, class: 'btn btn-info btn-block'%>
</div>

<div class="btn-group-vertical col-sm-4" role="group">
  <h5>Causes</h5>
  <% @recipient.charity.causes.each do |cause| %>
  <%= button_to "All from #{cause.name} Cause",  cause_path(cause.slug), method: :get, class: 'btn btn-info btn-block' %>
  <% end %>
</div>

<div class="btn-group-vertical col-sm-4" role="group">
  <h5>Needs</h5>
  <% @recipient.need_categories.each do |category| %>
  <%= button_to "All with #{category.name} Need",  needs_category_path(category.slug), method: :get, class: 'btn btn-info btn-block' %>
  <% end %>
</div>

</div> -->
