<%= button_to "Back to Users", admin_users_path, method: :get%>

<h2> User: <%= @user.username %> </h2>

<%= button_to "Add New Role", new_admin_user_user_role_path(@user), method: :get%>


<% if !@user_roles.empty? %>
  <h4>All Roles</h4>
  <table>
    <tr>
      <th>Role</th>
      <th>Charity</th>
      <% if current_user.delete_permission? %><th>Delete</th><%end%>
    </tr>
    <% @user_roles.each do |user_role| %>
      <tr class="<%=user_role.user.username%>">
      <td> <%= user_role.role.name %> </td>
      <td> <% if user_role.charity %><%= user_role.charity.name%><% end %></td>
      <% if current_user.delete_permission? %>
        <td><%= link_to "Delete Role", admin_user_user_role_path(user_role.user, user_role), method: :delete %></td>
      <% end %>
    </tr>
      <% end %>
  </table>

<% else %>
<h4>No Roles for Your Charity</h4>
<% end %>
