<div class="container">
  <%= link_to "Back to Admin Dashboard", admin_dashboard_path, class: 'btn btn-primary admin-dashboard' %>
  <div>
  <h1><%= @charity.name %> Dashboard</h1>
  <h4> <%= @charity.description %> </h4>
  <h4>Charity Status: <%= @charity.status.name %> </h4>
<div class="causes">
  <h4>Causes:</h4>
  <table class="table">
    <tr><% @charity.causes_charities.each do |causes_charity| %>
      <td><%= causes_charity.cause.name %> </td>
    <% end %>
      <td><%= link_to "Add Cause", new_admin_charity_causes_charity_path(@charity.slug), class: "btn btn-info" %></td>
    </tr>
  </table>
</div>

  <%= link_to "Manage Needs", admin_charity_needs_path(@charity.slug), class: "btn btn-primary manage-needs" %>

  <%= link_to "Manage Recipients", admin_charity_recipients_path(@charity.slug), class: "btn btn-success manage-recipients" %>

  <%= link_to "Update Charity", edit_admin_charity_charity_path(@charity.slug, @charity), class: "btn btn-info update-charity" %>

  <%if current_user.platform_admin? && !@charity.suspended? %>
    <%= suspend_charity_link(@charity) %>
  <% end %>
  <%if @charity.active? %>
    <%= deactivate_charity_link(@charity) %>
  <% elsif @charity.inactive?%>
    <%= activate_charity_link(@charity) %>
  <% else%>
      <%= activate_charity_link(@charity) %>
      <%= deactivate_charity_link(@charity) %>
  <% end %>

  </div>

  <div class="col-sm-6 photo">
    <%#= image_tag @charity.charity_photo.url(:large), :class => "img-responsive center-block" %>
  </div>
</div>
